:root {
  --Color-primary: #27ae60;
  --color-text: #333333;
  --color-subtext: #828282;
  --backgroud-fundo: #f5f5f5;
  --background-fundo-carrinho: #e0e0e0;
}

.container-products {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 280px);
  align-items: center;
  gap: 0 10px;
  padding: 5px;
}
.card-product {
  width: 260px;
  margin: 0 auto;
  height: 326px;
  border: 2px solid var(--background-fundo-carrinho);
  border-radius: 5px;
  margin-top: 10px;
}

.card-product figure {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-color: var(--backgroud-fundo);
}
.card-product figure img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.card-product h2,
.card-product span,
.card-product p {
  padding: 0 10px;
}
.card-product h2 {
  font-size: 1.2em;
  margin: 10px 0 2px 0;
  color: var(--color-text);
}
.card-product span {
  font-size: 0.75em;
  margin: 10px 0;
  color: var(--color-subtext);
}
.card-product p {
  font-size: 1em;
  font-weight: 600;
  margin: 10px 0;
  color: var(--Color-primary);
}
.card-product button {
  margin-left: 8px;
}

/*responsivo*/
@media (max-width: 1200px) {
  .container-products {
    grid-template-columns: repeat(3, 250px);
  }
  .card-product {
    width: 220px;
  }
}
@media (max-width: 1140px) {
  .container-products {
    grid-template-columns: repeat(2, 270px);
  }
  .card-product {
    width: 250px;
  }
}
@media (max-width: 940px) {
  .container-products {
    display: flex;
    overflow-x: auto;
  }
  .card-product {
    flex: 1 0 250px;
    margin: 0 5px;
  }
}
