:root {
  --Color-primary: #27ae60;
  --Color-secondary: #eb5757;
  --color-text: #333333;
  --color-subtext: #828282;
  --cor-text-button: #fff;
  --backgroud-fundo: #f5f5f5;
}

.container-Global {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-areas:
    "header header"
    "produtcs carrinho";
  gap: 20px 0;
}
/*Area responsiva*/
@media (max-width: 940px) {
  .container-Global {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "produtcs"
      "carrinho";
  }
}

.header {
  grid-area: header;
  background-color: var(--backgroud-fundo);
}
.header h1 {
  color: var(--color-text);
  margin-right: 5px;
}
.header p {
  color: var(--Color-secondary);
  font-weight: bold;
}

.produtcs {
  grid-area: produtcs;
}

.carrinho {
  grid-area: carrinho;
  align-self: start;
}
.container-Global .btn {
  background-color: var(--Color-primary);
}
